body {
  background-color: rgb(86,18,46);
  margin: 0;
  padding: 0;
}


h1 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}


p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-box {
  margin: 10px auto;
  width: 110%;
}

.box {
  border: 4px solid #FFF;
  padding: 20px 0px;
  margin: 5px 0px;
  text-align: center;
}


.nolinebreak {
  /* Keeps lines from breaking */
  white-space: nowrap;
}


/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Nav Section */
.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 70px;
	padding-top: 70px;
}

.navbar-inverse {
	background-color: #1abc9c;
	border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}

/* About/body section */
#about {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f2;

}

/* work section */
#work {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #FFF;

}

/* footer section */
#footer {
	background-color: #2f2f2f;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}
