body {
  background-color: rgb(86,18,46);
  margin: 0;
  padding: 0;
}


h1 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-weight: 300;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}


p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}


.value-box {
  margin: 20px auto;
  width: 40%;
}

.box {
  border: 1px solid #FFF;
  padding: 40px 0px;
  margin: 5px 0px;
  text-align: center;
}

.box h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
