body {
  background-color: rgb(82,13,41);
  margin: 0;
  padding: 0;
}


h1 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}


p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}



.value-box {
  margin: 40px auto;
  width: 60%;
}

.box {
  border: 1px solid #FFF;
  padding: 40px 0px;
  margin: 5px 0px;
  text-align: center;
}

.box h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
